body{
    background-color: #eae5e2;
    padding: 20px;
}
@media (min-width:756px) {
    #demo{
        font-size: 200%;
    }
}
#demo{
text-align: center;
    font-size: 400%;
}

img {
    height: 50px;
    width: 50px;
}
.media-heading{
font-size: 3;}

.media
{
    padding: 5px 20px 20px 20px;

}
.footer{
    flex-direction: row;
    display: flex;
    justify-content: center;
}